python:

  version: 3.5

  virtualenv:
    version: 16.0.0

    venvs:
      app:
        path: /op/app/venv
        options:
          python: /usr/bin/python3
          user: pyuser
        pip_config:
          install:
            find-links: file:///pip
            no-index: 'yes'

  pip:
    upgrade: True

    config:
      install:
        index-url: http://localhost:3141/root/pypi/+simple/

    packages:
      pyyaml:
        options:
          upgrade: True
      jinja2 == 2.8:
        options:
          bin_env: /opt/app/venv/bin/python

    requirements:
      app:
        source: salt://pip/requirements.txt
        options:
          bin_env: /opt/app2/venv/bin/python
