python:

  version: 3.5

  virtualenv:
    version: 16.0.0

    venvs:
      app:
        path: /op/app/venv
        options:
          python: /usr/bin/python3
          user: pyuser
        pip_config:
          install:
            find-links: file:///pip
            no-index: 'yes'

  pip:
    upgrade: True

    config:
      install:
        index-url: http://localhost:3141/root/pypi/+simple/

    packages:
      - flask
      - pyyaml:
          upgrade: True
      - jinja2 == 2.8:
          bin_env: /opt/app/venv/bin/python
      - venv_requirements:
          requirements: salt://pip/requirements.txt
          bin_env: /opt/app2/venv/bin/python
